Makefile.in
aclocal.m4
autom4te.cache/
build/
compile
config.guess
config.h.in
config.sub
configure
debug/
depcomp
install-sh
ltmain.sh
missing

app/reflex/reflex_parser.dpda.dot
app/reflex/reflex_parser.dpda.states
app/reflex/reflex_parser.npda.dot
app/trison/trison_parser.dpda.dot
app/trison/trison_parser.dpda.states
app/trison/trison_parser.npda.dot
lib/preprocessor/barf_preprocessor_parser.dpda.dot
lib/preprocessor/barf_preprocessor_parser.dpda.states
lib/preprocessor/barf_preprocessor_parser.npda.dot
lib/preprocessor/barf_preprocessor_scanner.dfa.dot
lib/preprocessor/barf_preprocessor_scanner.nfa.dot
lib/regex/barf_regex_parser.dpda.dot
lib/regex/barf_regex_parser.dpda.states
lib/regex/barf_regex_parser.npda.dot
lib/targetspec/barf_targetspec_parser.dpda.dot
lib/targetspec/barf_targetspec_parser.dpda.states
lib/targetspec/barf_targetspec_parser.npda.dot
